.code {
    &__data {
        margin: 0;
    }
    &__line {
        &--comment {
            color: green;
        }
    }
    &--keyword {
        font-weight: bold;
        color: purple;
    }
}

.dark .code {
    &__line {
        &--comment {
            color: rgb(89, 235, 89);
        }
    }
    &--keyword {
        font-weight: bold;
        color: rgb(197, 50, 197);
    }
}